<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <p>Submission Complete</p>
    <p>{{ debt }}</p>
    <p>{{ cur_rat }}</p>
    <p>{{ opm }}</p>
    <p>{{ icr }}</p>
    <p>Total Score - Financial Risk is {{ totalA }}</p>
    <p>{{ sales }}</p>
    <p>{{ outlook }}</p>
    <p>{{ ind_grow }}</p>
    <p>{{ mark_comp }}</p>
    <p>{{ barrier }}</p>
    <p>Total Score - Business Risk is {{ totalB }}</p>
    <p>{{ experience }}</p>
    <p>{{ succession }}</p>
    <p>{{ teamWork }}</p>
    <p>Total Score - Management Risk is {{ totalC }}</p>
    <p>{{ security }}</p>
    <p>{{ collateral }}</p>
    <p>{{ guarantee }}</p>
    <p>Total Score - Security Risk is {{ totalD }}</p>
    <p>{{ utilization }}</p>
    <p>{{ conduct }}</p>
    <p>{{ conditions }}</p>
    <p>{{ deposits }}</p>
    <p>Total Score - Relationship Risk is {{ totalE }}</p>

    <h3>FullTotal Score  {{ fullTotal }}</h3>
    <h3>Risk Grad Is  {{ grade }}</h3>





</div>

</body>
</html>